<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolProject">
        <activity
            android:name=".ObservacionesAcudienteActivity"
            android:exported="false" />
        <activity
            android:name=".EnviarMensajeActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleMateriaAcudienteActivity"
            android:exported="false" />
        <activity
            android:name=".MateriasAcudienteActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleTareaAcudienteActivity"
            android:exported="false" />
        <activity
            android:name=".TareasAcudienteActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarioAcudienteActivity"
            android:exported="false" />
        <activity
            android:name=".ParentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ParentHeader"
            android:exported="false" />
        <activity
            android:name=".ParentBottomNavigationView"
            android:exported="false" />
        <activity
            android:name=".PerfilProfesorActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarioActivity"
            android:exported="false" />
        <activity
            android:name=".CrearMensajeEventoActivity"
            android:exported="false" />
        <activity
            android:name=".CrearObservacionActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceAdapter.kt"
            android:exported="false" />
        <activity
            android:name=".AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".CalificarTareaActivity"
            android:exported="false"
            android:theme="@style/Theme.SchoolProject" />
        <activity
            android:name=".RevisarTareasActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherHeader"
            android:exported="false" />
        <activity
            android:name=".TeacherBottomNavigationView"
            android:exported="false" />
        <activity
            android:name=".RevisarTareaActivity"
            android:exported="false" />
        <activity
            android:name=".CrearTareaActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminPanelActivity"
            android:exported="false" />
        <activity
            android:name=".StudentPanelActivity"
            android:exported="false" />
        <activity
            android:name=".GuardianPanelActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherPanelActivity"
            android:exported="false" />
        <activity
            android:name=".CreateUserActivity"
            android:exported="false" />
        <activity
            android:name=".CreateCourseActivity"
            android:exported="false" />
        <activity
            android:name=".CreateSubjectActivity"
            android:exported="false" />
        <activity
            android:name=".CreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".CreateNewsActivity"
            android:exported="false" />
        <activity
            android:name=".EditStudentActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".TasksActivity"
            android:exported="false" />
        <activity
            android:name=".TaskDetailActivity"
            android:exported="false" />
        <activity
            android:name=".GradesActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EventDetailActivity"
            android:exported="false" />
        <activity
            android:name=".StudentListActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyCodeActivity"
            android:exported="false" />
        <activity
            android:name=".NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SupportActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ClasesProfesorActivity"
            android:exported="false" />
        <activity
            android:name=".AsistenciaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>